.tours-bg {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: rgb(219, 245, 255);
}

.tours-headingText {
  width: fit-content;
  border-bottom: 5px solid #3edbf0;
  padding: 1rem 2rem;
  margin: 2rem auto;
  color: #009bca;
}

.tours-reload-btn {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

.tours-reload-btn button:hover {
  color: white;
}

.allTours {
  width: 40vw;
  height: fit-content;
}

.tours-card {
  transition: 0.4s ease-in-out;
}

.tours-card:hover {
  transform: scale(1.1);
}

.tours-card-img-top {
  min-width: 100%;
  max-height: 30vh !important;
  object-fit: cover;

  margin-bottom: 1rem;
}

.tour-read-more-span {
  color: #3edbf0;
  cursor: pointer;
}

.tours-title_price {
  display: flex;
  justify-content: space-between;
}

.tour-notInterested {
  text-align: center;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .tours-headingText {
    font-size: 3rem;
  }

  .tours-title_price > h5 {
    font-size: 1.2rem;
  }
  .allTours {
    width: 50vw;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .tours-headingText {
    font-size: 2.5rem;
  }

  .tours-title_price > h5 {
    font-size: 1rem;
  }
  .allTours {
    width: 60vw;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .tours-headingText {
    font-size: 2.5rem;
  }

  .tours-title_price > h5 {
    font-size: 1rem;
  }
  .allTours {
    width: 80vw;
  }
}
