.grocery-bg {
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 251, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grocery-box {
  background-color: white;
  width: 40%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grocery-form {
  width: 90%;
}

.grocery-input {
  background-color: #e1edf2;
  border: none;
  outline: none;
  color: #08475a;
  padding: 0.4rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.grocery-submit {
  border: none;
  background-color: rgb(111, 190, 255);
  color: #08475a;
  font-weight: bold;
  padding: 0.4rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s;
}

.grocery-submit:hover {
  background-color: rgb(79, 174, 252);
}

.grocery-items-list {
  padding: 0rem 1rem;
  width: 90%;
}

.grocery-item {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.2rem;
}

.grocery-icons {
  width: 15%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.grocery-edit-btn,
.grocery-delete-btn {
  border: none;
  background-color: transparent;
}

.grocery-message {
  width: 90%;
  text-align: center;
  color: #08475a;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1100px) {
  .grocery-box {
    width: 60%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .grocery-input,
  .grocery-submit {
    border-radius: 0px;
  }

  .grocery-input {
    margin-bottom: 1.5rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .grocery-box {
    width: 90%;
  }
  .grocery-icons {
    width: 20%;
  }
}
